<template>
	<div class="users">
		<div class="d-grid gap-2">
			<button class="user btn btn-secondary" @click="setUser(user)" v-bind:class="{active: user.id==activeUser.id}" :key="index" v-for="(user, index) in users" type="button">{{user.name}}</button>
		</div>
	</div>
</template>

<script>
	import { EventBus } from "../../main.js";
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import * as mylib from '../../translations.js'

	export default {

		data() {
			return {
				token: this.$store.state.token,
				lang: 'en',
				translations: mylib.translateStrings(this.$store.state.lang.name),
				activeUser: this.$store.state.activeuser,
				users: [
					{
						name: 'Anonymous',
						id: 0,
					},
					{
						name: 'Alexander Roland',
						id: 1,
					},
					{
						name: 'Jonas Sandstrøm',
						id: 2,
					},
					{
						name: 'Michael Sonne',
						id: 3,
					},
				],
			}
		},
		beforeMount() {
			let self = this;
			self.$store.dispatch('setPreloader', 1);

			self.getUsers();
		},
		mounted() {

		},
		watch: {
		},
		computed: {
			
		},
		methods: {
			getRoute() {
				this.currentRoute = window.location.pathname;
			},
		    setUser(user){
		    	this.$store.dispatch('setUser', user);
		    },
		    getUsers(){
		    	this.$store.dispatch('setPreloader', 0);
		    }
		}
	}
</script>
