<template>
	<div class="scanProductsPage">
		<p>{{scannedstr}}</p> 
		<p class="str">{{str}}</p>
		<!--  011570501008131615210602100000825676 01057101830032971521100910L0910202001  -->
		<!-- <p class="str">{{str}}</p>
		<p>Error: {{error}}</p>
		
		<button class="btn btn-blue" @click="getGtinData('4894526010911')"> Scan 4894526010911</button>
		<button class="btn btn-blue" @click="getGtinData('5700002043115')"> Scan 5700002043115</button>
		<button class="btn btn-blue" @click="getGtinData('57060248')"> Scan 57060248</button> -->

		<!-- <button class="btn btn-blue" @click="parseEan128()"> Scan 57060248</button> -->
		<!-- {{previousproducts}}
		{{products}} -->
		
		<div class="gridChange" v-bind:class="{extended: extendedinfo == 1}" @click="showProductInfo()"><div class=first><span></span><span></span><span></span></div><div class=second><span></span><span></span></div></div>
		<table class="scannedProducts table table-striped" v-bind:class="{extended: extendedinfo == 1}">
		  <thead>
		    <tr>
		      <th scope="col" colspan="3">GTIN</th>
		      <th scope="col" style="text-align: right">Action</th>
		    </tr>
		  </thead>
		  	<tbody>
		  		<tr v-bind:class="{'table-danger': product.error != ''}" :key="index" v-for="(product, index) in reversedProducts()">
		  			<td colspan="3">{{product.gtin}}
		  				<div class="productInfo" v-html="product.error"></div>
		  			</td>
			      	<td><span class="badge rounded-pill bg-danger" @click="removeSpecificProduct(product.gtin)">x</span></td>
		  		</tr>
		  	</tbody>
		</table>

		<!-- <table class="scannedProducts table table-striped" >
		  <thead>
		    <tr>
		      <th scope="col" colspan="3">GTIN</th>
		      <th scope="col" style="text-align: right">Action</th>
		    </tr>
		  </thead>
		  	<tbody>
		  		<tr :key="index" v-for="(product, index) in test">
		  			<td colspan="3">{{product.gtin}}
		  				<div class="productInfo" v-html="product.error"></div>
		  			</td>
			      	<td><span class="badge rounded-pill bg-danger" @click="addNewProduct(product)">Add</span></td>
		  		</tr>
		  	</tbody>
		</table> -->
		<div class="actionButtons">
			<button class="btn btn-blue" @click="reloadPage()" type="button">Reload</button>
			<div class="btn btn-blue" @click="openTypeGtin()" type="button">Type Manually</div>
			<div class="btn btn-blue" @click="getPreviousGtins()" type="button">Get GTIN's</div>
			<!-- <div class="btn btn-blue" @click="resetProducts" type="button">Reset products</div> -->
		</div>

		<div class="modal" v-if="type">
	      <div class="modalSizer">
	        <div class="modalContainer">
	          <div class="modalInner">
	            <div class="modalContent">
	              <div class="closeModal" v-on:click="type=0">x</div>
	              <p>
	              	<form autocomplete="off">
	              		<input ref="typedstr" autocomplete="off" placeholder="GTIN" type="text" pattern="\d*" inputmode="numeric" id="typed" v-model="typed" name="">
	              	</form>
	              </p>
	              <p>
	              	<button class="btn btn-blue" @click="typeGetGtin()">Add</button>
	              </p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
		
	</div>
</template>

<script>

	import { EventBus } from "../../main.js";
	import * as mylib from '../../translations.js'
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import { mapFields } from 'vuex-map-fields';
	import { mapMultiRowFields } from 'vuex-map-fields';
	


	export default {

		data() {
			return {
				token: this.$store.state.token,
				lang: 'en',
				translations: mylib.translateStrings(this.$store.state.lang.name),
				// products: JSON.parse(JSON.stringify(this.$store.state.cart.items)),
				products: this.$store.state.cart.items,
				previousproducts: this.$store.state.cart.previousitems,
				extendedinfo: 0,
				error: false, // false
				errormessage: '',
				position: '',
				posterror: false,
				dontscan: false,
				servererror: false,
				// test: [
				// 	{
				// 		gtin: '4894526010911',
				// 		name: '',
				// 		id: 0,
				// 		accepted: 0,
				// 		attributes: [],
				// 		position: '',
				// 		error: '<p>Variant skal modtages før det kan videre behandles </br>Fjern for at fortsætte</p>',
				// 	},
				// 	{
				// 		gtin: '5700002043115',
				// 		name: '',
				// 		id: 1,
				// 		accepted: 1,
				// 		attributes: [],
				// 		position: '',
				// 		error: ''
				// 	},
				// 	{
				// 		gtin: '57060248',
				// 		name: '',
				// 		id: 2,
				// 		accepted: 1,
				// 		attributes: [],
				// 		position: '',
				// 		error: ''
				// 	},
				// 	{
				// 		gtin: '5704174212843',
				// 		name: '',
				// 		id: 3,
				// 		accepted: 1,
				// 		attributes: [],
				// 		position: '',
				// 		error: ''
				// 	},
				// ],
				str: '',//'011570501008131615210602100000825676',
				type: 0,
				typed: '',
				scannedstr: '',
			}
		},
		beforeMount() {
			let self = this;
			self.getKeyStrokes();
			self.checkForErrors();
			self.$store.dispatch('setPreloader', 0);
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			...mapMutations(["addProduct"]),
			...mapMutations(["updateProduct"]),
			...mapMutations(["removeProduct"]),
			...mapMutations(["resetProducts"]),
			...mapMutations(["addPreviousProduct"]),
			...mapMutations(["resetPreviousProducts"]),
			showProductInfo(){
				let self = this;
				this.extendedinfo = !this.extendedinfo;
			},
			reversedProducts(){
      			return this.products.slice().reverse();
  			},
			getRoute() {
				this.currentRoute = window.location.pathname;
			},
			parseEan128(str){
				let barcodeObj;
				let barcode = '';
				try {
				    barcodeObj = parseBarcode(str);
				} catch (e) {
					return 'no valid AI';
				}

				barcodeObj.parsedCodeItems.forEach(function(e, i){
					if((e.ai == '01' || e.ai == '02') && barcode == ''){
						barcode = e.data;
					}
				});
				return barcode;
			},
			openTypeGtin(){
				let self = this;
				self.type = 1;
				// $('#typed').focus();

				this.$nextTick(() => {
			        this.$refs.typedstr.focus();
			      });
				// this.$refs.forEach(function(e,i){
				// 	console.log(e);
				// });
				// console.log(this.$refs);
				// this.$refs['typed'].focus();
			},
			typeGetGtin(){
				let self = this;
				// self.scannedstr = self.typed;
				// self.typed = '';
			 //    self.str = '';
				// self.type = 0;

				// window.navigator.vibrate(200);
			 //    self.getGtinData(self.scannedstr);

			 //    self.scannedstr = '';
			 
			 	self.scannedstr = self.typed;
	        	self.type = 0;
	        	if(self.scannedstr.length > 14){
	        		// product EAN 128
	        		window.navigator.vibrate(200);

	        		let tempEan = self.parseEan128(self.scannedstr);
	        		if(tempEan == 'no valid AI'){
	        			self.playError();
	        			self.$store.dispatch('setModal', {show: 1, message: 'Error: '+tempEan , html: ''});
	        		}
	        		else if(tempEan.length > 7 && tempEan.substr(0, 2) != "91"){
	        			self.getGtinData(tempEan);
	        		}
	        		else{
	        			self.playError();
	        			self.$store.dispatch('setModal', {show: 1, message: 'Error: '+tempEan , html: ''});
	        		}
	        		
	        	}
	        	else if(self.scannedstr.length > 7 && self.scannedstr.substr(0, 2) != "91"){
	        		// product
	        		window.navigator.vibrate(200);
	        		self.getGtinData(self.scannedstr);
	        	}
	        	else if(self.scannedstr.length == 7 && self.scannedstr.substr(0, 2) == "91"){
	        		window.navigator.vibrate(200);
	        		self.placeGtinAtPosition(self.scannedstr);
	        	}
	        	else{
	        		self.playError();
	        	}
	        	
				self.typed = '';
	        	self.scannedstr = '';
	        	self.str = '';
			},
			getPreviousGtins(){
				let self = this;
				self.resetProducts();

				self.previousproducts.forEach(function(e,i){
					self.addProduct({
						gtin: e.gtin,
						id: e.id,
						new: e.new,
						attributes: e.attributes,
						position: e.position,
						error: e.error
					});
				});
			},
			placeGtinAtPosition(position){
				let self = this;
				let placedPosition = '';
				self.$store.dispatch('setPreloader', 1);
				self.posterror = false;
				if(self.error == true){
					self.$store.dispatch('setPreloader', 0);
					self.$store.dispatch('setModal', {show: 1, message: 'Fix errors in the list before placing GTIN.', html: ''});
					return;
				}
				if(self.products.length == 0){
					self.$store.dispatch('setPreloader', 0);
					self.$store.dispatch('setModal', {show: 1, message: 'Scan items before scanning a position', html: ''});
					return;
				}
				self.dontscan = true;

				let data = {
					items: self.products,
					position: position
				};

				axios.post(
		        	self.$store.state.apiurl+'inventory/place/gtin', 
		        	data
		        )
		        .catch(error => {
		        	self.posterror = true;
		        	if(error.response === undefined){
		        		self.$store.dispatch('setPreloader', 0);
		        		self.$store.dispatch('setModal', {show: 1, message: 'The server encountered an error, please try again.', html: ''});
		        		self.dontscan = false;
		        		return;
		        	}
		        	else{
		        		self.$store.dispatch('setModal', {show: 1, message: error.response.data.errormessage, html: ''});
		        		self.$store.dispatch('setPreloader', 0);
		        		self.dontscan = false;
		        	}
		        	
		        	return;
    			})
		        .then((response) => {
		        	
		        	if(self.posterror == true){
		        		self.$store.dispatch('setPreloader', 0);
		        		self.dontscan = false;
		        		self.playError();
		        		return;
		        	}

	            	if(response.data.error === false){
		              	// success
		              	self.$store.dispatch('setModal', {show: 1, message: '', html: '<p>Items have been placed at position: '+response.data.position+'</p>'});
		              	self.resetPreviousProducts();
		              	
		              	self.products.forEach(function(e,i){
		              		self.addPreviousProduct(e);
		              	});
		              	
		              	self.resetProducts();
		              	self.$store.dispatch('setPreloader', 0);
		              	self.dontscan = false;
		            }
		            else{
		            	self.playError();
		            }
		        });
			},
			checkForErrors(){
				let self = this;
				let tempProduct = '';
				let stopForEach = false;
				let tempProducts = {
					old: [],
					new: []
				};
				self.error = false;

				self.products.forEach(function(e, i){
					if(e.new == 0){
						tempProducts.old.push(e);
					}
					else{
						tempProducts.new.push(e);
					}
				});

				if(tempProducts.old.length > 0 && tempProducts.new.length > 0){
					self.reversedProducts(self.products).forEach(function(e, i){
						if(stopForEach == true){

						}
						else{
							stopForEach = true;
							tempProduct = JSON.parse(JSON.stringify(e));
							self.error = true;
							if(tempProduct.new == 1){
								self.errormessage = '<p>'+e.gtin+' variant skal modtages før det kan videre behandles </br>Fjern for at fortsætte</p>';
								tempProduct.error = '<p>Variant skal modtages før det kan videre behandles </br>Fjern for at fortsætte</p>';
							}
							else{
								self.errormessage = '<p>'+e.gtin+' er allerede modtaget, andre produkter i listen er nye produkter </br>Fjern for at fortsætte</p>';
								tempProduct.error = '<p>Er allerede modtaget, andre produkter i listen er nye produkter </br>Fjern for at fortsætte<p>';	
							}
							self.$store.dispatch('setModal', {show: 1, message: '', html: self.errormessage});
							self.updateProduct(tempProduct);
						}
					});
				}

				return;

			},
			removeSpecificProduct(gtin){
				let self = this;
				let tempProduct = '';
				let stopForEach = false;
				let tempProducts = {
					old: [],
					new: []
				};
				self.error = false;
				self.removeProduct(gtin);


				self.products.forEach(function(e, i){
					tempProduct = JSON.parse(JSON.stringify(e));
					tempProduct.error = '';
					self.updateProduct(tempProduct);
					if(e.new == 0){
						tempProducts.old.push(e);
					}
					else{
						tempProducts.new.push(e);
					}
				});

				if(tempProducts.old.length > 0 && tempProducts.new.length > 0){
					self.reversedProducts(self.products).forEach(function(e, i){
						if(stopForEach == true){

						}
						else{
							stopForEach = true;
							tempProduct = JSON.parse(JSON.stringify(e));
							self.error = true;
							if(tempProduct.new == 1){
								self.errormessage = '<p>'+e.gtin+' variant skal modtages før det kan videre behandles </br>Fjern for at fortsætte</p>';
								tempProduct.error = '<p>Variant skal modtages før det kan videre behandles </br>Fjern for at fortsætte</p>';
							}
							else{
								self.errormessage = '<p>'+e.gtin+' er allerede modtaget, andre produkter i listen er nye produkter </br>Fjern for at fortsætte</p>';
								tempProduct.error = '<p>Er allerede modtaget, andre produkter i listen er nye produkter </br>Fjern for at fortsætte<p>';	
							}
							self.$store.dispatch('setModal', {show: 1, message: '', html: self.errormessage});
							self.updateProduct(tempProduct);
						}
					});
				}

				return;

			},
			getGtinData(gtin){
				let self = this;
				let alreadyScanned = false;
				let allNew = true;
				let errormes = '';
				self.servererror = false;
				self.error = false;
				self.dontscan = true;
				self.$store.dispatch('setPreloader', 1);

				if(gtin.length == 13){
					gtin = '0' + gtin;
				}
				
				self.products.forEach(function(e, i){
					if(e.gtin == gtin){
						alreadyScanned = true;
					}
					if(e.new == 0){
						allNew = false;
					}
				});

				if(alreadyScanned == true){
					self.updateProduct({
						gtin: gtin,
						id: 0,
						new: 0,
						attributes: [],
						position: '',
						error: ''
					});
				}
				else{
					self.addProduct({
						gtin: gtin,
						id: 0,
						attributes: [],
						position: '',
						error: ''
					});
				}

				axios.get(
		        	self.$store.state.apiurl+'inventory/get/gtin/'+gtin
		        )
		        .catch(error => {
		        	self.$store.dispatch('setPreloader', 0);
		        	self.dontscan = false;
		        	self.servererror = true;
		        	// console.log(error.response);
		        	// console.log(error);
		            // self.$store.dispatch('setModal', {show: 1, message: self.translations.apiresponseerror, html: '', prismic: ''});
    			})
		        .then((response) => {
		        	if(self.servererror == true){
		        		self.$store.dispatch('setModal', {show: 1, message: 'The server encountered an error, please try again or contact support.', html: self.errormessage});
		        		self.playError();
		        		return;
		        	}
		            if(response.data.error === false){
		              	// success
		              	if(response.data.data.new == 1 && allNew == false && self.products.length > 1){
							errormes = '<p>Variant skal modtages før det kan videre behandles </br>Fjern for at fortsætte</p>';
							self.errormessage = '<p>'+gtin+' Variant skal modtages før det kan videre behandles </br>Fjern for at fortsætte</p>';
							self.error = true;
							self.playError();
							self.$store.dispatch('setModal', {show: 1, message: '', html: self.errormessage});
						}

						if(response.data.data.new == 0 && allNew == true && self.products.length > 1){
							errormes = '<p>Er allerede modtaget, andre produkter i listen er nye produkter </br>Fjern for at fortsætte<p>';
							self.errormessage = '<p>'+gtin+' er allerede modtaget </br>Fjern for at fortsætte</p>';
							self.error = true;
							self.playError();
							self.$store.dispatch('setModal', {show: 1, message: '', html: self.errormessage});
						}
		              	self.updateProduct({
							gtin 		: gtin,
							new 		: response.data.data.new,
							id 			: response.data.data.id,
							attributes 	: [],
							position 	: response.data.data.position,
							error 		: errormes
						});

		              	self.$store.dispatch('setPreloader', 0);
		              	self.dontscan = false;
		            }
		            else{
		              	self.$store.dispatch('setPreloader', 0);
		              	self.dontscan = false;
		              	self.$store.dispatch('setModal', {show: 1, message: response.data.errormessage , html: ''});
		            }
		        });
			},
			setProducts(){
				let self = this;
				self.$store.dispatch('addProducts', self.test);
			},
			showErrorModal(){
				let self = this;
				self.$store.dispatch('setModal', {show: 1, message: '', html: self.errormessage});
			},
			playError() {
				new Audio('http://185.21.41.236/wms/sound.mp3').play();
      		},
			getKeyStrokes(){
				let self = this;
				window.addEventListener("keyup", function(e) {
					if (e.keyCode == 8 || e.keyCode == 46) {
						self.str = self.str.substring(0, self.str.length - 1);
					}
				});
				window.addEventListener("keypress", function(e) {
					
					if(self.dontscan == true){
						return;
					}

					if(self.error == 1){
						self.showErrorModal();
						return;
					}
					// self.$store.dispatch('setPreloader', 0);
					self.scannedstr = '';
					self.errormessage = '';
		      		var key = e.which;
			        if (key==13) {
			        	self.scannedstr = self.str;
			        	self.type = 0;
			        	if(self.scannedstr.length > 14){
			        		// product EAN 128
			        		window.navigator.vibrate(200);

			        		let tempEan = self.parseEan128(self.scannedstr);
			        		if(tempEan == 'no valid AI'){
			        			self.playError();
			        			self.$store.dispatch('setModal', {show: 1, message: 'Error: '+tempEan , html: ''});
			        		}
			        		else if(tempEan.length > 7 && tempEan.substr(0, 2) != "91"){
			        			self.getGtinData(tempEan);
			        		}
			        		else{
			        			self.playError();
			        			self.$store.dispatch('setModal', {show: 1, message: 'Error: '+tempEan , html: ''});
			        		}
			        		
			        	}
			        	else if(self.scannedstr.length > 7 && self.scannedstr.substr(0, 2) != "91"){
			        		// product
			        		window.navigator.vibrate(200);
			        		self.getGtinData(self.scannedstr);
			        	}
			        	else if(self.scannedstr.length == 7 && self.scannedstr.substr(0, 2) == "91"){
			        		window.navigator.vibrate(200);
			        		self.placeGtinAtPosition(self.scannedstr);
			        	}
			        	else{
			        		self.playError();
			        	}
			        	
						self.typed = '';
			        	self.scannedstr = '';
			        	self.str = '';
			        }
			        else{
			        	self.str += String.fromCharCode(key);
			        }
		    	});
			}
		}
	}
</script>
