.arrowdown {vertical-align: bottom; margin-bottom:4px}

.menuNumber {
	text-align: left;
	height:100%;
	padding-left:5px;
	vertical-align:bottom;
	padding-bottom:0px;
	padding-top:2px;
}

#mainmenu .ThemeIEMenu .menuNumber {
 background-image:url(knap_1.gif);
	background-position: top left;
}

.ThemeIEMenu {
	border-collapse:separate;
}

.ThemeIEMenu td {
	vertical-align:bottom;
}


#mainmenu .ThemeIEMainItem {
	background-image:url(knap_1.gif);
	background-position: top right;
}


#mainmenu .ThemeIEMainItemHover, #mainmenu .ThemeIEMainItemActive {
	background-image:url(knap_1.gif);
	background-position:top right;
}

#mainmenu .ThemeIEMainItemHover .ThemeIEMainItemText,
#mainmenu .ThemeIEMainItemActive .ThemeIEMainItemText,
#mainmenu .ThemeIEMainItemHover .ThemeIEMainFolderText,
#mainmenu .ThemeIEMainItemActive .ThemeIEMainFolderText {
	text-decoration:underline;
}

#toolmenu .ThemeIEMainItemHover, #toolmenu .ThemeIEMainItemActive {
	background-image:url(knap_1.gif);
	background-position:bottom right;
	background-color: #c2c2c2;
	background-repeat: no-repeat;
	/*border:1px solid green;*/
	
}

#toolmenu .ThemeIEMainItemHover .menuNumber,
#toolmenu .ThemeIEMainItemActive .menuNumber {
	background-image:url(knap_1.gif);
	background-position:bottom left;
	background-color: #c2c2c2;
	background-repeat: no-repeat;
	vertical-align:bottom;
	padding-bottom:0px !important;


}	

#toolmenuhax td{
	background: #c2c2c2;
}


.ItemContainerShowNums .menuNumber {
	visibility: inherited;
	text-decoration:underline;
}


.ThemeIEMenu,.ThemeIESubMenuTable
{
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 11px;
    /*padding: 0;*/
    border: 0;
    white-space: nowrap;
}


.ThemeIESubMenu
{
    position: absolute;
    visibility:	hidden;
    z-index: 100;	// Netscape/Mozilla renders borders by increasing
    border: 0;		// their z-index.  The following line is necessary
    padding: 0;		// to cover any borders underneath

    filter:progid:DXImageTransform.Microsoft.Shadow(color=#848A84, Direction=135, Strength=4);
}

.ThemeIESubMenuTable
{
    border: 2px outset  #ADAA9C;
	border-top: 1px solid #c2c2c2;
    background-color: #e2e2e2;
}

.ThemeIESubMenuTable td
{
    padding-top:	2px;
    padding-bottom:	2px;
    padding-left:	1px;
    padding-right:	5px;
    white-space:	nowrap;
    vertical-align: middle;

}

.ThemeIEMainItem,.ThemeIEMainItemHover,.ThemeIEMainItemActive,
.ThemeIEMenuItem,.ThemeIEMenuItemHover,.ThemeIEMenuItemActive
{
    padding-top:	0px;
    padding-bottom:	0px;
    padding-left:	0px;
    padding-right:	8px;
    white-space:	nowrap;
    vertical-align:	top;
	font-family: Myriad, sans-serif;
	color: inherited;
	font-size: 10px;
	height:21px;
	border: 1px solid #c2c2c2;
}



.ThemeIEMenuItemHover,.ThemeIEMenuItemActive
{
background-color: #c2c2c2;
}

td.ThemeIEMenuItemLeft
{
    padding-left:	5px;
    width:		17px;
    empty-cells: 	show; 
    white-space:	nowrap;
}

td.ThemeIEMenuItemText
{
    padding-right:	24px;
}

.ThemeIEMenuSplit
{
	height:	1px;
	margin-top:	1px;
	margin-bottom:	1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #ADAA9C;
}

.ThemeIEMenuVSplit
{
	width:		1px;
	margin:		0px;
	overflow:	hidden;
	background-color:	inherit;
	border-right:	1px solid #ADAA9C;
}

.ThemeIEMainItemText, .ThemeIEMainFolderText {
	position:relative;
	top: 2px;
}

//	seq1:	image for normal
//	seq2:	image for hover and active
//	To use, in the icon field, input the following:
//	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />

.ThemeIEMenuItem img.seq1
{
	display:	inline;
}

.ThemeIEMenuItemHover seq2,
.ThemeIEMenuItemActive seq2
{
	display:	inline;
}

.ThemeIEMenuItem .seq2,
.ThemeIEMenuItemHover .seq1,
.ThemeIEMenuItemActive .seq1
{
	display:	none;
}
