/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

.calendar table {
  margin-left:1px;
  margin-top:1px;
  border: 1px solid #7f9db9;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #ffffff;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;
  font-weight: bold;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #c0c0c0;
  padding: 2px;
  text-align: right;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #404040;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
}

.calendar thead .active { /* Active (pressed) buttons in header */
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 15px;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #c0c0c0;
  font-size: 8px;
  color: #404040;
  text-align: right;
}

.calendar tbody .rowhilite td {
  background: #f0f0f0;
}

.calendar tbody .rowhilite td.wn {
  background: #f0f0f0;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #e0e0e0;
  text-align: right;
  border: 0;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #ffffff;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  padding: 1px 3px 1px 1px;
  background: #7f9db9;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #c0c0c0;
}

.calendar tbody td.today { /* Cell showing todays date */
  font-weight: bold;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  visibility: hidden;
  display: none;
  text-align: center;
  background: #556;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #404040;
  border-top: 1px solid #c0c0c0;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #77c;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #f0f0f0;
  color: #000;
  font-size: smaller;
}

.combo .label {
  width: 100%;
  text-align: center;
}

.combo .hilite {
  background: #acf;
}

.combo .active {
  border-top: 0px solid #46a;
  border-bottom: 0px solid #46a;
  background: #d0d0d0;
  font-weight: bold;
}
