H2,
H3,
p,
a,
select,
table,
tr,
td,
div,
body,
form{
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
    border-width: 0px; 
    border-style: none ;
    border-collapse: collapse;
    font: 11px Arial, Helvetica, sans-serif;
    caption-side: left;
    vertical-align: top;
    color: #302626;	
}

body {
background-image:url(headlogo.jpg);
background-position:top right;
background-repeat: no-repeat;
background-color: #c2c2c2;
/*border: 1px solid black;*/

}

.superhead {
background-image:url(headlogo.gif);
background-position:top right;
background-repeat: no-repeat;
}

button {
    margin: 0px;
    font: 11px Arial, Helvetica, sans-serif;
    cursor: pointer;
}

p {
    padding-left: 8px ;
    padding-top: 2px ;
    cursor: default;
}

H1,
H4,
H5,
H6{
    font-size: 15px;
    font-weight: bold;
}

H2 {
    padding-left: 8px ;
    padding-top: 12px ;
    padding-bottom: 4px;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
}

H3 {
    padding-left: 8px ;
    padding-top: 12px ;
    padding-bottom: 4px;
    cursor: default;
    font-weight: bold;
}

SELECT,
input,
textarea{
    font: 11px Arial, Helvetica, sans-serif;
    margin-left: 8px ;
    margin-right: 8px ;
    padding-left: 3px ;
    padding-right: 3px ;
}

SELECT {
    margin-top: 1px ;
}

.shadowline {
	height: 8px;
	background-image: url(skyggelinie.gif);
	/*border: 1px solid black;*/
	overflow: hidden;
}

td.header {
/*background-color:white;
background-image: url(passonbar.gif);
background-repeat: no-repeat;
background-position:top right;*/
    color:#302626;
    vertical-align: middle;
    font: 16px Arial, sans-serif;
    padding-left:9px;
    padding-right:9px;
    height:32px;
    /*letter-spacing:0.2em;*/
 
}

div.bar {
    width:100%;
    padding-bottom:1px;
/*    padding-left:7px; */
	border-left: 7px solid #c2c2c2;
/*    border-top: 1px solid white;
    border-bottom: 1px solid #cdcabb;*/

}
div.barsplit
{
    width:1px;
    margin:0px;
    border-right:1px solid #ADAA9C;
}
td.barfield {
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left:8px;
   	padding-right:9px;
    vertical-align: middle;	
}
SELECT.barfield {
    margin: 0px;
    width: 150px;
}
td.barbutton {
    height:29px;
    padding-left:6px;
    padding-right:4px;
    vertical-align: middle;
}
td.barlabel {
    padding-left:0px;
    padding-right:4px;
    vertical-align: middle;
    cursor: pointer;
}
td.barpasive {
    padding-left:0px;
    padding-right:4px;
    vertical-align: middle;
    cursor: default;
    color:#7f7c73;
}

td.main {
    height: 100%;
    padding-bottom:8px;
    background: rgb(255,255,248);
}
td.explorer {
    width:200px;
    max-width:200px;
    overflow:hidden;
    padding-top:8px;
    padding-left:8px;
    padding-bottom:8px;
    color: #000000;
    background: #FFFFFF;
    border-right: 1px solid #cdcabb;
}

p.topheader {
    padding-top: 12px ;
    padding-left: 8px ;
    padding-bottom: 12px ;
    font: 16px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

table.item {
    overflow:hidden;
    width: 100%;
    table-layout:fixed;
}
td.itemheader {
    overflow:hidden; 
    /*border-top: 1px solid white;*/
    border-bottom: 1px solid #cdcabb;
    background: // #898989;//rgb(194,208,198) ;
    padding-left: 8px ;
    padding-top: 2px ;
    padding-bottom: 2px ;
    margin-bottom:10px;
    cursor: default;
}

td.super {
	background:#c2c2c2 ; // #898989;/*rgb(174,161,178);*/
	border: none;
//	border-left:5px solid #898989;
//	border-right: 5px solid #898989;
	border-right: 5px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	font-size:1.1em;
	padding-left: 2px; !important
	/*font-weight:bold;
	letter-spacing: 0.5em;*/
}
.barsuper {
	background: #898989;/*rgb(174,161,178);*/
	border: none;
	border-left:5px solid #898989;
	border-right: 5px solid #898989;
	border-bottom: 1px solid #c2c2c2;
	min-height: 20px;	
	width : 100%;
}

.mainlist {
	background: #FFFFFF;
	border: none;
	border-left:5px solid #898989;
	border-right: 5px solid #898989;
	border-bottom: 1px solid #c2c2c2;
	min-height: 20px;
#	width: 100%;
}

td.itemspace {
    white-space:pre;
    height:9px;
    width:80px;
}
td.itemfield {
    overflow:hidden;
    padding-top:2px;
    padding-left:8px;
}
td.itemlabel {
    overflow:hidden;
    padding-top:2px;
    padding-left:8px;
    width:80px;
}

table.list {
    overflow:hidden;
    width: 100%;
    table-layout:fixed;
	border:none;
}
td.listhead {
    /*border-top: 1px solid white;*/
	border: none;
    padding-top: 3px;
    border-bottom: 1px solid #cdcabb;
    background: // #cdcabb; // #898989;//rgb(194,208,198);
    overflow:hidden;
}
p.listhead{
    height:16px;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow:hidden;
}

p.list {
    height:16px;
    overflow:hidden;
}
p.listwrap {
    height:52px;
    overflow:hidden;
//	word-wrap: break-word;
}
img.list {
    margin-left: 6px ;
    vertical-align: bottom;
    cursor: pointer;
}

.dropskin {
    position:absolute;
    width:170px;
    background-color:menu;
    border:1px solid #ADAA9C;
    visibility:hidden;
}
div.dropitem {
    text-decoration:none;
    color:black;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:1px;
    padding-right:10px;
    cursor: default;
}
td.dropimg {
    padding-right:5px;
    width:17px;
    empty-cells: show; 
}
td.dropfield {
    padding-right:5px;
    vertical-align: middle;
}
#drophighlight{
    background-color:highlight;
    color:#ffffff;
}

td.calminiweek {
    border-right: 1px solid #E0E0E0;
    color: #A0A0A0;
    font: 9px Arial, Helvetica, sans-serif;
    text-align: right;
    vertical-align: bottom;
    cursor: default;
}
td.calminiheader {
    border-bottom: 1px solid #E0E0E0;
    text-align: right;
    cursor: default;
}
td.calminiday {
    text-align: right;
}
td.calminiout {
    color: #A0A0A0;
    text-align: right;
    cursor: default;
}


td.caldaytime {
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    font: 13px Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
td.caldaytext {
    border-bottom: 1px dashed #E0E0E0;
}
td.caldaytext2 {
    border-bottom: 1px solid #E0E0E0;
}
td.caldayevent {
    height:15px;
    overflow:hidden;
    text-align:center;
    background:#366996;
    color:white;
    border-bottom: 1px solid #E0E0E0;
}

td.calmonthheader {
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    font-weight: bold;
    text-align: center;
}
td.calmonthoff {
    background-color: #F4F4F4;
    border: 1px solid #E0E0E0;
}
td.calmonthon {
    background-color: #F2F9FF;
    border: 1px solid #E0E0E0;
}
td.calmonthreg {
    border: 1px solid #E0E0E0;
}
td.calmonthtext {
    height:16px;
    overflow:hidden;
    padding-left:4px;
    background:#366996;
    color:white;
    border-bottom: 1px solid #E0E0E0;
}
td.caption {
    vertical-align: middle;
    padding-left:9px;
    padding-right:9px;
    padding-top:1px;
    padding-bottom:1px;
    text-align: right;
    width: 170px;
    overflow:hidden;
}
td.field {
    vertical-align: middle;
    padding-top:1px;
    padding-bottom:1px;
    width: 250px;
    overflow:hidden;
}
