<template>
	<header class="header">
		<div :class="{active: isActive}" class="overlay"  @click="navigation"></div>
		<nav :class="{active: isActive}">
			<div class="top" @click="navigation"></div>
			<ul>
				<li><a @click="goToPage('/wms/scannerApp/inventory/scanproducts')">Scan products</a></li>
				<li><a @click="goToPage('/wms/scannerApp/user')">Change user</a></li>
				<li><a @click="goToPage('/wms/scannerApp/test')">Test</a></li>
			</ul>
		</nav>
		<div @click="navigation" class="menuButton"><span></span><span></span><span></span></div>
		<div class="user">
			<!-- {{user.name}} -->
		</div>
	</header>
</template>

<script>
	import { EventBus } from "../main.js";
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import * as mylib from '../translations.js'

	export default {

		data() {
			return {
				token: this.$store.state.token,
				lang: 'en',
				translations: mylib.translateStrings(this.$store.state.lang.name),
				isActive: false,
				user: this.$store.state.activeuser,
			}
		},
		beforeMount() {
			let self = this;
		},
		mounted() {

		},
		watch: {
		},
		computed: {
			
		},
		methods: {
			getRoute() {
				this.currentRoute = window.location.pathname;
			},
			navigation: function() {
		        this.isActive = !this.isActive;
		        // some code to filter users
		    },
		    goToPage(data){    
			    this.isActive = false;
			    this.$store.dispatch('setPreloader', 1);
			    if(this.$route.path == data){
			    	location.reload();
			    }

			    this.$router.push(data);
			    return;
			}
		}
	}
</script>
