<template>
	<div>
	</div>	
</template>

<script>
	import { EventBus } from "../main.js";
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import * as mylib from '../translations.js'

	export default {

		data() {
			return {
				token: this.$store.state.token,
				lang: 'en',
				translations: mylib.translateStrings(),
			}
		},
		beforeMount() {
			let self = this;
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			getRoute() {
				this.currentRoute = window.location.pathname;
			}
		}
	}
</script>
