<template>
	<div>
		<button class="btn btn-blue" @click="setModal()">Set modal</button>
	</div>	
</template>

<script>
	import { EventBus } from "../main.js";
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import * as mylib from '../translations.js'

	export default {

		data() {
			return {
				token: this.$store.state.token,
				lang: 'en',
				translations: mylib.translateStrings(this.$store.state.lang.name),
			}
		},
		beforeMount() {
			let vm = this;
			vm.$store.dispatch('setPreloader', 0);
		},
		mounted() {

		},
		watch: {
		},
		computed: {
			
		},
		methods: {
			getRoute() {
				this.currentRoute = window.location.pathname;
			},
			setModal(){
				let vm = this;
				vm.$store.dispatch('setModal', {show: 1, message: 'Medlemsblad på stregen, udgives 2 gange årligt: Medlemsportrætter, nye services, mød din GS1-medarbejder og meget andet. ', html: ''});
			}
		}
	}
</script>
